[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epivizr"]
	path = epivizr
	url = https://git.bioconductor.org/packages/epivizr
[submodule "epivizrChart"]
	path = epivizrChart
	url = https://git.bioconductor.org/packages/epivizrChart
[submodule "epivizrStandalone"]
	path = epivizrStandalone
	url = https://git.bioconductor.org/packages/epivizrStandalone
[submodule "Rcsdp"]
	path = Rcsdp
	url = https://github.com/hcorrada/rcsdp
