[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Rcsdp"]
	path = Rcsdp
	url = https://github.com/hcorrada/rcsdp
	shallow = true
	registered = true
